<div class="container">
  <div class="innerDiv">
    <h3>Ingredients</h3>
    <app-ingredients
    *ngFor="let ing of ingredientsArray; let i = index"
    [imageOfIngredient]="ing.image"
    [nameOfIngredient]="ing.name"
    [quantityOfIngredient]="ing.quantity"
    (clickedIngredient)="getClickedIngredient(i)"
    (deletedIngredient)="deleteIngredient(i)"></app-ingredients>
  </div>
  <div class="innerDiv">
    <h3>Burger</h3>
    <div class="Burger">
      <div class="BreadTop">
        <div class="Seeds1"></div>
        <div class="Seeds2"></div>
      </div>
      <app-filling
      *ngFor="let ing of quantityArray"
      [isOnPage]="ing.quantity > 0"
      [filling]="ing.name">
      </app-filling>
      <div class="BreadBottom"></div>
    </div>
    <p>Price: <strong>{{ getTotalSum() }}</strong> som</p>
  </div>
</div>
