<div>
  <img
    [src]="imageOfIngredient"
    [alt]="nameOfIngredient"
    (click)="getClickToIngredient()">
  <span><strong>{{ nameOfIngredient }}</strong></span>
  <span>x {{ quantityOfIngredient }}</span>
  <button
    *ngIf="quantityOfIngredient > 0"
    type="button"
    (click)="delete()">
    Delete
  </button>
</div>
